      body {
        font-family: 'DM Mono', serif;
        font-size: 18px;
      }

.mm-logo {
  width: 40px;
  padding-right: 10px;
}

.metamask {
  background: url(https://raw.githubusercontent.com/MetaMask/brand-resources/c3c894bb8c460a2e9f47c07f6ef32e234190a7aa/SVG/metamask-fox.svg) no-repeat;
  text-align: left;
text-indent: 42px;

}

.wallet-address{
  font-size: x-small;
}

.chainId{
  font-size: smaller;
}